.mb-6.flex.gap-4.border-b.border-gray-200.pb-2
  = link_to 'Dashboard', admin_accounting_dashboard_path, class: admin_nav_link_class(admin_accounting_dashboard_path)
  = link_to 'Ledger', admin_accounting_ledger_index_path, class: admin_nav_link_class(admin_accounting_ledger_index_path)
  = link_to 'Reports', admin_accounting_reports_path, class: admin_nav_link_class(admin_accounting_reports_path)
  = link_to 'Reconciliation', admin_accounting_settlements_path, class: admin_nav_link_class(admin_accounting_settlements_path)
