= form_with(model: [@task, DisputeEvidence.new], class: "contents") do |form|
  .my-5
    = form.label :description, "Describe the issue"
    = form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Please provide details about the problem..."
  .my-5
    = form.label :files, "Upload evidence (Photos/Videos)"
    = form.file_field :files, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .inline
    = form.submit "Report Issue & Upload Evidence", class: "rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer"