doctype html
html
  head
    title
      | SewaLink Admin
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    link[rel="preconnect" href="https://fonts.googleapis.com"]
    link[rel="preconnect" href="https://fonts.gstatic.com" crossorigin]
    link[href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"]
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body class="bg-gray-100 font-['Mukta'] text-gray-900"
    nav.bg-gray-800.text-white.p-4
      .container.mx-auto.flex.justify-between.items-center
        a.flex.items-center.gap-2 href=admin_root_path
          .bg-white.rounded-lg.p-1
            svg[class="w-5 h-5 text-gray-800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"]
              path[d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.28-5.499a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"]
          span.text-xl.font-bold sewaLink Admin
        .flex.gap-4
          = link_to 'Dashboard', admin_root_path, class: admin_nav_link_class(admin_root_path)
          = link_to 'Users', admin_users_path, class: admin_nav_link_class(admin_users_path)
          = link_to 'Tasks', admin_tasks_path, class: admin_nav_link_class(admin_tasks_path)
          = link_to 'Bids', admin_bids_path, class: admin_nav_link_class(admin_bids_path)
          = link_to 'Disputes', admin_disputes_path, class: admin_nav_link_class(admin_disputes_path)
          = link_to 'Categories', admin_categories_path, class: admin_nav_link_class(admin_categories_path)
          = link_to 'Roles', admin_roles_path, class: admin_nav_link_class(admin_roles_path)
          = link_to 'Payouts', admin_payouts_path, class: admin_nav_link_class(admin_payouts_path)
          = link_to 'Settings', admin_settings_path, class: admin_nav_link_class(admin_settings_path)
          = link_to 'Accounting', admin_accounting_dashboard_path, class: admin_nav_link_class(admin_accounting_dashboard_path)
          = link_to 'Main Site', root_path, class: 'hover:text-gray-300'
    
    #notifications.fixed.bottom-5.right-5.z-50.flex.flex-col.gap-3.pointer-events-none
      = render "shared/flash"
    
    main.container.mx-auto.mt-8.px-5
      = yield
